<h1 >
    Login
    
</h1>

<div class="container" *ngIf="success">success</div>
<div class="container3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container">Using</div>
  <div class="container"><i class="fa fa-google" aria-hidden="true"></i>
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-windows" aria-hidden="true"></i>

      <mat-divider [vertical]="true"></mat-divider>
      <img class="fa fa-square"src="assets/images/office_365.png">     <i class="fa fa-university" aria-hidden="true"></i>    </div>
      <div class="container2">
        <mat-divider class="half"></mat-divider>
          <span>or</span>
          <mat-divider class="half"></mat-divider>
        </div>
      <div  *ngIf=" submitted && (loginForm.controls.password.errors || loginForm.controls.email.errors)" 
    class="p  alert-danger">  
  
    <ul><li *ngIf="loginForm.controls.email.errors">E-mail address is required</li>
   
    <li *ngIf="loginForm.controls.password.errors">Password is required</li></ul>
</div>


<div>
       
            <label >E-mail Address</label>
            <p [ngClass]="{ 'has-error':  submitted && loginForm.controls.email.errors }">
                <input class="form-control" [(ngModel)]='user.email'type="email" formControlName="email"></p>
        
        
</div>
        
            <label>password</label>
            <p [ngClass]="{ 'has-error':  submitted && loginForm.controls.password.errors }">
                <input class="form-control" type="password" [(ngModel)]='user.password' formControlName="password"></p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Remember me
                    </label>
                   <a class="left" href="">Forgot my Password</a>
                  </div>
                <button class="a btn btn-success" type="submit">Log in</button>
  
</form></div>
<div class="container3">
    <span>New User?</span>
    <a  routerLinkActive='active' [routerLink]="['/register']">Register Now for Free</a>
</div>
