h1{

    text-align: center;
   margin:2px;
    color:rgb(48, 83, 180);
}
.fa-facebook{
    background-color: rgb(58, 94, 160);
  
}
.fa-square-o{
    background-color: rgb(236, 69, 47);
  
}
.fa-windows{
    background-color: rgb(14, 171, 233);
 
}
.fa-google{
    background-color: rgb(218, 48, 5);
}
.fa-university{
    background-color: rgb(230, 135, 10);
}
[class*="fa fa-"] {
    width:9%;
    height:60px;
    line-height: 60px;
   margin: 9px;
    border-radius: 80%;
    color: #fff;
  

   
    font-size:150%;
    text-align: center;
}
@media only screen and (max-width: 801px) {
    [class*="fa fa-"] {
   
        height:50px;
        line-height: 50px;
        font-size:120%;

       
    }}
    @media only screen and (max-width: 500px) {
        [class*="fa fa-"] {
       
            height:30px;
            line-height: 30px;
            font-size:60%;
    
           
        }}
@media only screen and (max-width: 430px) {
    [class*="fa fa-"] {
   
        height:23px;
        line-height: 23px;
        font-size:60%;

       
    }}
  
a{
    color:rgb(74, 167, 190);
}form{

    margin:3%;
    width:90%;
    padding:10px;
    border: 1.7px solid #d8d6d6;
    border-radius: 5px;
    .container{
        font-weight: 410;
        font-size: x-large;
        margin-top:1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
    }
    .container2{
        font-weight: 410;
        font-size: x-large;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
    }
 
}.left{
    float:right;
}
.i1{margin:5px;
    width:9%;
    height:2%;
}
.i3{
    width: 4%;
   
    height: auto;
}
.i2{
    width:48%;  
}

.p{
    border-left: 10px solid  rgb(209, 33, 33);
    color:  rgb(219, 47, 47);
    font:Ariel;
    background-color: rgb(253, 235, 237);
    padding: 8px 0px 0.02px 0px;
    margin:20px 0px 20px 0px;}



  input[type="email"],
  input[type="password"] {
  width:100%;
  }
  .has-error input[type="email"],
  .has-error input[type="password"] {
      border-color: rgb(216, 12, 12);
      color: rgb(230, 14, 14);
      
  }
.a{
    width: 100%;  
    margin-top:1% ;
    background-color:rgb(125, 175, 49)
}
.container3{
   
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.half{margin: 6px;
    margin-top:10px;
    
    width:90%
   
}
@media only screen and (min-width: 801px) {
    form{
        width: 800px;
    }}